flujo_node-red.json
[
    {
        "id": "3d6666bccefb73d2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "61b77378ffa7b287",
        "type": "mqtt in",
        "z": "3d6666bccefb73d2",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d371d23898c1a71c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "76b361d05317cdb4",
                "2c16a1f4f3f46409"
            ]
        ]
    },
    {
        "id": "76b361d05317cdb4",
        "type": "ui_chart",
        "z": "3d6666bccefb73d2",
        "name": "",
        "group": "4da6a07d9109c1d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1ab16e052328ed6a",
        "type": "mqtt in",
        "z": "3d6666bccefb73d2",
        "name": "",
        "topic": "esp32/humed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d371d23898c1a71c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "9b780f31859e1483",
                "2c16a1f4f3f46409"
            ]
        ]
    },
    {
        "id": "9b780f31859e1483",
        "type": "ui_chart",
        "z": "3d6666bccefb73d2",
        "name": "",
        "group": "17b2ed9265023f85",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humedad Ambiente",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 330,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "21c8a38aeb67b879",
        "type": "mqtt in",
        "z": "3d6666bccefb73d2",
        "name": "",
        "topic": "esp32/porchum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d371d23898c1a71c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "a34dd88e3f46a39c",
                "2c16a1f4f3f46409"
            ]
        ]
    },
    {
        "id": "f854cba880c1b127",
        "type": "mqtt in",
        "z": "3d6666bccefb73d2",
        "name": "",
        "topic": "esp32/tempamb",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d371d23898c1a71c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "1ca8b1155b40247d",
                "2c16a1f4f3f46409"
            ]
        ]
    },
    {
        "id": "1ca8b1155b40247d",
        "type": "ui_chart",
        "z": "3d6666bccefb73d2",
        "name": "",
        "group": "54d6883bb61df8a9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Sensacion térmica",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ced95eed5f67bac0",
        "type": "remote-access",
        "z": "3d6666bccefb73d2",
        "confignode": "85346a650378abe0",
        "name": "",
        "verbose": 0,
        "x": 840,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a34dd88e3f46a39c",
        "type": "ui_gauge",
        "z": "3d6666bccefb73d2",
        "name": "",
        "group": "af41831821e723be",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "b30007881b039093",
        "type": "mysql",
        "z": "3d6666bccefb73d2",
        "mydb": "d05f9bfd28fe78b0",
        "name": "",
        "x": 1050,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3a744f3862ea588e",
        "type": "function",
        "z": "3d6666bccefb73d2",
        "name": "function 1",
        "func": "\nvar vhumed = msg.payload[\"esp32/humed\"];\nvar vtempamb = msg.payload[\"esp32/tempamb\"];\nvar vporchumSuelo = msg.payload[\"esp32/porchum\"];\nvar vtemperatureC = msg.payload[\"esp32/temperature\"];\n\nmsg.topic = \"INSERT INTO lectura_ambiente(temperaturaC, tempAmb, humedadPorc, humedadSuelo) VALUES ('\" + vtemperatureC + \"','\" + vtempamb + \"','\" + vhumed + \"','\" + vporchumSuelo+\"')\";\n//msg.topic = \"INSERT INTO lectura_ambiente(temperaturaC, tempAmb, humedadPorc, humedadSuelo) VALUES (15,15,15,15)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 240,
        "wires": [
            [
                "b30007881b039093"
            ]
        ]
    },
    {
        "id": "2c16a1f4f3f46409",
        "type": "join",
        "z": "3d6666bccefb73d2",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "d3110f0c8e56239d",
                "7e03901d146dcc5f"
            ]
        ]
    },
    {
        "id": "d3110f0c8e56239d",
        "type": "delay",
        "z": "3d6666bccefb73d2",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "3a744f3862ea588e"
            ]
        ]
    },
    {
        "id": "7e03901d146dcc5f",
        "type": "debug",
        "z": "3d6666bccefb73d2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "75864d32448f4a1f",
        "type": "ui_switch",
        "z": "3d6666bccefb73d2",
        "name": "",
        "label": "Encender Riego",
        "tooltip": "",
        "group": "af41831821e723be",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "ee6942b711365d75"
            ]
        ]
    },
    {
        "id": "ee6942b711365d75",
        "type": "mqtt out",
        "z": "3d6666bccefb73d2",
        "name": "",
        "topic": "esp32/switch",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d371d23898c1a71c",
        "x": 370,
        "y": 580,
        "wires": []
    },
    {
        "id": "d371d23898c1a71c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4da6a07d9109c1d1",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "c24a8e48494cd3c9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17b2ed9265023f85",
        "type": "ui_group",
        "name": "Humedad Ambiente",
        "tab": "c24a8e48494cd3c9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54d6883bb61df8a9",
        "type": "ui_group",
        "name": "Sensación Térmica",
        "tab": "c24a8e48494cd3c9",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85346a650378abe0",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "e4g7qxkyekvhlcezxyqgn6uveuus1bht1y4ylmtqfuwvi4flw3lj77tgj9e21bd5",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "af41831821e723be",
        "type": "ui_group",
        "name": "Humedad Suelo",
        "tab": "c24a8e48494cd3c9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d05f9bfd28fe78b0",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot-g4",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "c24a8e48494cd3c9",
        "type": "ui_tab",
        "name": "Sistema de control riego",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]